*{
  padding:0;
  margin:0;
}
.App {
  background: rgb(230, 57, 70);
  text-align: center;
  border: solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 33.33vw;
}

h1{
  color: rgb(241, 250, 238);
  background: rgb(230, 57, 70);
  width: 33.33vw;
}

h2{
  background: rgb(241, 250, 238);
  width: 33.33vw;
  height: 35px;
}

.clear{
  width: 50px;
  height: 200px;
}

.clearButton{
  width:100%;
  height: 100%;
  background-color: rgb(69, 123, 157);
  border-style: none;
  border: solid 1px rgb(29, 53, 87);
}

.numberButtons{
  background-color: rgb(168, 218, 220);
  width: 150px;
  height: 200px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.digits{
  background-color: rgb(69, 123, 157);
  border-style: none;
  border: solid 1px rgb(29, 53, 87);
  width: 50px;
  height: 50px;
}

.operatorButtonsArray{
  width: 50px;
  height: 200px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

}

.operatorButton{
  background-color: rgb(69, 123, 157);
  border-style: none;
  border: solid 1px rgb(29, 53, 87);
  width: 50px;
  height:40px;
}


@media all and (max-width:600px) {
  .App, h1, h2{
    width:200px;
  }
  .operatorButtonsArray{
    width:200px;
  }
  .operatorButton{
    width:40px;
    height: 50px;
  }
}